@model ComputerModel
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor("Name", Model.Name, new{@class="control-label"})
        @Html.TextBoxFor("Name", Model.Name, new{@class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.AdministratorPassword, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.AdministratorPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.IPAddress, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.IPAddress, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.Location, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.Location, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.OS, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.OS, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.Description, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.SupportedMonitors, new { @class = "control-label" })
        @Html.TextBoxFor(m=>m.SupportedMonitors, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m.OSTypes, new { @class = "control-label" })
        @Html.DropDownListFor(m=>m.OSTypes, new SelectList(ComputerModel.OSTypes), new { @class = "form-control" })
    </div>
}