@model ComputerModel
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(Model=>Model.Name, new{@class="control-label"})
        @Html.TextBoxFor(Model=>Model.Name, new{@class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model=>Model.AdministratorPassword, new { @class = "control-label" })
        @Html.TextBoxFor(Model=>Model.AdministratorPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model=>Model.IPAddress, new { @class = "control-label" })
        @Html.TextBoxFor(Model=>Model.IPAddress, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model=>Model.Location, new { @class = "control-label" })
        @Html.TextBoxFor(Model=>Model.Location, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model=>Model.OS, new { @class = "control-label" })
        @Html.TextBoxFor(Model=>Model.OS, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model=>Model.Description, new { @class = "control-label" })
        @Html.TextBoxFor(Model=>Model.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model=>Model.SupportedMonitors, new { @class = "control-label" })
        @Html.TextBoxFor(Model=>Model.SupportedMonitors, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("OSTypes", "OSTypes", new { @class = "control-label" })
        @Html.DropDownList("OSTypes", new SelectList(ComputerModel.OSTypes), Model.OS, new { @class = "form-control" })
    </div>
}