@model ComputerModel
@{
    ViewData["Title"] = "ComputerModel";
}

<h2>ComputerModel</h2>

<div>
    @Model.Name
    @Model.AdministratorPassword
    @Model.Location
    @Model.OS
    @Model.Description
    @Model.SupportedMonitors
    <p>This is a test</p>
</div>
