@model ComputerModel
@{
    ViewData["Title"] = "ComputerModel";
}

<div>
    @Model.Name
    @Model.AdministratorPassword
    @Model.IPAddress
    @Model.Location
    @Model.OS
    @Model.SupportedMonitors
    @Model.Description

    <p>This is a test</p>
</div>
