@model ComputerModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Name", "Name", new { @class = "control-label" })
        @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
        @Html.ValidationMessage("Name")
    </div>
    <div class="form-group">
        @Html.Label("AdministratorPassword", "AdministratorPassword", new { @class = "control-label" })
        @Html.TextBox("AdministratorPassword", Model.AdministratorPassword, new { @class = "form-control" })
        @Html.ValidationMessage("AdministratorPassowrd")
    </div>
    <div class="form-group">
        @Html.Label("IPAddress", "IPAddress", new { @class = "control-label" })
        @Html.TextBox("IPAddress", Model.IPAddress, new { @class = "form-control" })
        @Html.ValidationMessage("IPAddress")
    </div>
    <div class="form-group">
        @Html.Label("Location", "Location", new { @class = "control-label" })
        @Html.TextBox("Location", Model.Location, new { @class = "form-control" })
        @Html.ValidationMessage("Location")
    </div>
    <div class="form-group">
        @Html.Label("OS", "OS", new { @class = "control-label" })
        @Html.TextBox("OS", Model.OS, new { @class = "form-control" })
        @Html.ValidationMessage("OS")
    </div>
    <div class="form-group">
        @Html.Label("Description", "Description", new { @class = "control-label" })
        @Html.TextArea("Description", Model.Description, new { @class = "form-control" })
        @Html.ValidationMessage("Description")
    </div>
    <div class="form-group">
        @Html.Label("SupportedMonitors", "SupportedMonitors", new { @class = "control-label" })
        @Html.TextBox("SupportedMonitors", Model.SupportedMonitors, new { @class = "form-control" })
        @Html.ValidationMessage("SupportedMonitors")
    </div>
    <div class="form-group">
        @Html.Label("OSTypes", "OSTypes", new { @class = "control-label" })
        @Html.DropDownList("OSTypes", new SelectList(ComputerModel.OSTypes), Model.OS, new { @class = "form-control" })
        @Html.ValidationMessage("OSTypes")
    </div>
    <div>
        <input value="Submit" type="submit" />
    </div>
}