
@{
    ViewData["Title"] = "Index";
}

@Html.ActionLink("Home", "Index", "Home")
<a href="/Home/Index">Home</a>
@Html.ActionLink("Standard", "Index", "Standard")
<a href="/Standard/Index"></a>
@Html.ActionLink("HHInput", "Index", "HHInput")
<a href="/HHInput/Index"></a>
@Html.ActionLink("HHInputFor", "Index", "HHInputFor")
<a href="/HHInputFor/Index"></a>
@Html.ActionLink("HHEditorFor", "Index", "HHEditorFor")
<a href="/HHEditorFor/Index"></a>
@Html.ActionLink("HHEditorForModel", "Index", "HHEditorForModel")
<a href="/HHEditorForModel/Index"></a>
@Html.ActionLink("TagHelper", "Index", "TagHelper")
<a href="/TagHelper/Index"></a>