@model ComputerModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
@using (Html.BeginForm("Index", "HHEditorFor", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdministratorPassword, new { @class = "control-label" })
        @Html.EditorFor(m => m.AdministratorPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.AdministratorPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IPAddress, new { @class = "control-label" })
        @Html.EditorFor(m => m.IPAddress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.IPAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "control-label" })
        @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OS, new { @class = "control-label" })
        @Html.EditorFor(m => m.OS)
        @Html.ValidationMessageFor(m => m.OS)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SupportedMonitors, new { @class = "control-label" })
        @Html.EditorFor(m => m.SupportedMonitors, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.SupportedMonitors)
    </div>
    <div>
        <input value="Submit" type="submit" />
    </div>
}